IndexOptions DescriptionWidth=*
AddDescription "Jay Hannah, 2006" op_overload.sxi
AddDescription "Jay Hannah, 2003" IntrotoPerl_OOPerl.ppt.gz
AddDescription "Kent Tegels, 2003" perlxml.tar.gz
AddDescription "Jay Hannah, 2003" pscrawl_pl.txt
AddDescription "Jay Hannah, 2003" ipr_pl.html

