body { background: black; font-family:sans-serif; color:white; }
a:link:hover { color: #FFCC00; }
a:link { color: #FF7700; }
a:visited { color: #FF7700; }
h1 { color: #FF7700; }
h2 { color: #FF7700; }
h3 { color: #FF7700; }

